.text-white { color: #fff; }
.bg-white { background-color: #fff; }

.bg-black {background-color: #000; }
.text-black {color:#000;}

.bg-green { background-color:#c0392b; }
.text-green {color: #c0392b; }

.candidate_photo {
    width: 80px;
    height: 80px;
    border: 2px solid #c0392b;
    border-radius: 100%;
}